version {
    color: white;
    position:absolute;
    left:660px;
    top:20px;
}

#fastwrapper {
display:block;
width: 640px;
font-family:"Verdana";
font-size:12px;
}

.fast {
 display:inline-block;
 text-align: left;
 width: 500px;
}

.buttons {
 display:inline-block;
 width: 100px;
 border-radius: 5px;
 border: none;
 font-size: 0.8em;
 padding: 0.1em 0.1em;
 background: #548dd4;
 border: 0px solid #0061a0;
 color: white;
 -webkit-font-smoothing: antialiased;
 font-weight: bold;
 text-align: center;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #bbddff;
  -webkit-font-smoothing: antialiased;
}


small {
      font-family:"Verdana";
      font-size:12px;
}

verysmalli {   
  font-family:"Verdana";
  font-size:10px;
  font-style:italic;
}

table, td, th {
  /*border-collapse:collapse;*/
  border:0px;
  padding-right: 5px;
  padding-left: 5px;
}

th {
  background-color:#708499;
  border-radius: 5px;
  color:#002255;
}

h1 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  float: left;
  width: 120px;
  /*padding: 1.5em, 0.5em, 0.8em;*/
  font-size: 1.0em;
  border-radius: 5px;
  border: 1px solid #548dd4;
}

input[type=text] {
  float: left;
  width: 180px;
  /*padding: 1.5em, 0.5em, 0.8em;*/
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #548dd4;
}


button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

input[type=button] {
  width: 80px;
  border-radius: 5px;
  border: none;
  font-size: 0.8em;
  background: #548dd4;
  border-bottom: 0px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
input[type=button]:hover {
  opacity: 0.75;
}

input[type=submit] {
  float: right;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  /*padding: 0.5em, 0.5em;*/
  background: #FF2626;
  border-bottom: 0px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 120px;
  text-align: center;
}
input[type=submit]:hover {
  opacity: 0.75;
}